/* Reset de estilos básicos */
body, h1, h2, p, ul, li, a, table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #2c3e50;
    font-size: 1rem; /* Reducido al 75% */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo h1 {
    margin: 0;
    font-size: 1.25rem; /* Reducido al 75% */
}

.menu-toggle {
    display: none;
    font-size: 1rem; /* Reducido al 75% */
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem; /* Reducido al 75% */
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: #fff;
    height: 70vh; /* Ajustamos la altura de la sección hero */
    text-align: center;
    padding-top: 80px; /* Para evitar que se sobreponga con el header fijo */
    overflow: hidden; /* Ocultamos cualquier parte de la imagen que sobrepase el contenedor */
}

.hero img {
    width: 100%; /* La imagen ocupa todo el ancho */
    height: 100%; /* La imagen ocupa toda la altura de la sección hero */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente sin perder la proporción */
}


.btn-primary {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #1E3A8A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem; /* Reducido al 75% */
    display: inline-block;
}

.btn-primary:hover {
    background-color: #1E3A8A;
}

/* Sección sobre */
.section {
    padding: 10px 5px; /* Reducido al 75% */
    text-align: center;
}

.section.bg-dark {
    background-color: #34495e;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    margin-bottom: 15px; /* Reducido al 75% */
    font-size: 2rem; /* Reducido al 75% */
}

/* Tabla de Tokenomics */
.table-container table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 7px; /* Reducido al 75% */
    border: 1px solid #ddd;
    text-align: left;
}

.table-container th {
    background-color: #2c3e50;
    color: #fff;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0; /* Reducido al 75% */
    text-align: center;
}

footer .social-links a {
    color: #fff;
    margin: 0 8px; /* Reducido al 75% */
    text-decoration: none;
    font-size: 1rem; /* Reducido al 75% */
}

footer .social-links a:hover {
    color: #1E3Abb;
}

/* Responsividad */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
        display: block;
    }

    nav ul.show {
        display: flex;
    }

    .hero {
        height: 40vh; /* Reducido al 75% */
    }

    .hero img {
        object-fit: cover; /* Mantiene la proporción de la imagen */
    }
}
